In [26]:
import pandas as pd
import psycopg2 as p2
%load_ext sql
from sqlalchemy import create_engine
# Create your engine.
eng = create_engine("sqlite:///:memory:") #-- or create_engine("sqlite:///database.db")
with eng.connect() as conn, conn.begin():
    dd = pd.read_csv('C:/Users/UB/Downloads/datasets_data_man/homelessness.csv')
    d = dd.to_sql("homelessness", conn)
homelessness.head(2)

               region    state  individuals  family_members  state_pop
0  East South Central  Alabama       2570.0           864.0    4887681
1             Pacific   Alaska       1434.0           582.0     735139

In [9]:
vn = create_engine("postgresql://postgres:08134707654@localhost/dvdrental")
pp = pd.read_sql_query("SELECT * FRoM rental", vn)
pp.head(2)
#conne = f"{driver}://{username}:{password}@{server}:{port}/{database}"

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-16 02:30:53
1,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-16 02:30:53

In [3]:
import pandas as pd
import psycopg2 as p2
%load_ext sql
import sqlite3 as sql3

df = pd.read_csv('Downloaded_All_assignments_Holiday_Khan_Academy_Students.csv')
cnn = sql3.connect("database.db")
pp = df.to_sql('khan', cnn)

ValueError: Table 'khan' already exists.

In [28]:
from sqlite3 import connect
conn = connect(':memory:')

df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']], columns=['int_column', 'date_column'])

df.to_sql(name='test_data', con=conn)

pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

In [4]:
%sql sqlite:///database.db

In [32]:
%%sql 

SELECT "Student Name", (sum("Score At Due Date") - sum("Number Of Attempts"))
    AS Score
FROM khan
Where "Score At Due Date" Not Null
GROUP BY "Student Name"
ORDER BY Score DESC
limit 5;

 * sqlite:///database.db
Done.

[('Ivie lewis', 661.0),
 ('jita8550', 653.0),
 ('Mfoniso David', 570.0),
 ('Edidiong Dickinson', 542.0),
 ('Blessinglinus931', 534.0)]

In [ ]:
import sqlite3
import pandas as pd
%%capture
%load_ext sql
%sql sqlite:///factbook.db
factbook = pd.read_csv("factbook.db")

In [ ]:
#chatgpt recommendation 

import psycopg2

# Replace with your own database connection details
connection = psycopg2.connect(
    host="your_host",
    database="your_database",
    user="your_user",
    password="your_password"
)

cursor = connection.cursor()

# Example: Execute a SELECT query
cursor.execute("SELECT * FROM your_table")
results = cursor.fetchall()

for row in results:
    print(row)

connection.commit()
cursor.close()
connection.close()